main {
	border-style: solid;
	border-width: 1px;
	width: 1054px;
    height: 843px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#026406, #92d361);
}	

#p2-name{

	display: inline-block;
	margin-left: 24px;
	margin-top: 0px;
	position: absolute;

}

#p2board-cards {

	height: 159px;
	width: 300px;
	display: inline-block;
	position: relative;
	margin-top: 26px;
	margin-left: 24px;

}

.face-up-card {

	height: 153px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	position: absolute;
	top: 17px;
	z-index: 2;

}

.p2hand-face-up-card {

	height: 153px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	position: absolute;
	z-index: 0;
	/*top: 17px;*/
}

.card-suit-container {

	height: 15px;
	width: 15px;

}

.card-suit-container-small-top img {

	height: 15px;
	width: 15px;
    margin-left: 3px;

}

.card-suit-container-small-bottom img {

	height: 15px;
	width: 15px;
    float: right;
    margin-right: 3px;
    margin-top: 14px;

}

.card-value {

	display: inline-block;
    margin-left: 3px;
}

.card-suit-container-large img {

    height: 77px;
    width: 68px;
    margin-left: 18px;

}


.face-down-card {

	height: 153px;
    width: 100px;
    top: 0px;
    position: absolute;
    /*background-color: yellow;*/
    opacity: 0.4;
    z-index: 2;

}

img.face-down-card-img {

	height: 153px;
    width: 100px;
    top: 0px;
    position: absolute;
    z-index: 1;


}

.hand-face-down-card img{
	
	height: 153px;
    width: 100px;
	/*top: 17px;*/
	position: absolute;

}

.p2-row{

	position: relative;
	margin-top: 22px;

}

#p2card-slot-1{
	position: absolute;
    top: 0px;
    left: -2px;
}

#p2card-slot-2{
	position: absolute;
    top: 0px;
    left: 122px;
}

#p2card-slot-3{
	position: absolute;
 	top: 0px;
    left: 244px;

}

#p2-hand{

    border-style: solid;
    border-width: 1px;
    height: 159px;
    width: 558px;
    display: inline-block;
    position: absolute;
    left: 426px;
    top: 0;
    /*overflow: scroll;*/
}

.p2hand-card {

	left:0px;
}

#p2-show-cards{

	position: absolute;
	top: -27px;
    height: 23px;
    width: 100px;
    border-style: solid;
    border-width: 1px;

}

#p2-ready {

	position: absolute;
	top: -27px;
	left: 110px;
    height: 23px;
    width: 100px;
    border-style: solid;
    border-width: 1px;

}

.card-hand-container {

	position: absolute;
	height: 153px;
    width: 100px;

}

#game-board-row {

 	height: 154px;
    width: 258px;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    top: 295px;
    left: 300px;
}

#error-box{

	width: 400px;
	height: 30px;
	position: absolute;
	top: 49px;
    left: 297px;
    color: #a82a2a;
    font-size: 20px
}


#deck{

	height: 153px;
    width: 100px;
    position: absolute;

}

#deck img {

	height: 153px;
    width: 100px;

}

#cards-in-play{

	border-style: solid;
	border-width: 1px;
	height: 153px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 156px;

}

.card-in-play{

	height: 153px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	position: absolute;

}



/*player 1*/


#p1-row {

	position: absolute;
	top: 516px;
    left: 0;
    height: 326px;
    width: 1054px;

}

#p1-hand {

	border-style: solid;
	border-width: 1px;
	height: 159px;
    width: 558px;
    position: absolute;
    left: 446px;
    top: 0px;
}

#p1board-cards{

	height: 159px;
	width: 300px;
	display: inline-block;
	position: relative;
	margin-bottom: 26px;
	margin-left: 24px;
	top: 27px;


}

#p1card-slot-1{

	position: absolute;
    top: 0px;
    left: -2px;

}

#p1card-slot-2{

	position: absolute;
    top: 0px;
    left: 122px;

}

#p1card-slot-3{

	position: absolute;
    top: 0px;
    left: 244px;

}

#p1-name {

    margin-left: 24px;
    margin-top: 0px;
    position: absolute;
}

.p1hand-face-up-card{

	height: 153px;
	width: 100px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	position: absolute;
	z-index: 0;
	/*top: 17px;*/

}

#p1-hand{

    border-style: solid;
    border-width: 1px;
    height: 159px;
    width: 558px;
    display: inline-block;
    position: absolute;
    left: 426px;
    top: 0;
    /*overflow: scroll;*/
}

.p1hand-card {

	left:0px;
}

#p1-show-cards{

	position: absolute;
	top: -27px;
    height: 23px;
    width: 100px;
    border-style: solid;
    border-width: 1px;

}

.highlighted {

	background-color: yellow;
}

#p1-ready {

	position: absolute;
	top: -27px;
	left: 110px;
    height: 23px;
    width: 100px;
    border-style: solid;
    border-width: 1px;

}

#p1-swap-cards {

	position: absolute;
	top: -27px;
	left: 220px;
    height: 23px;
    width: 100px;
    border-style: solid;
    border-width: 1px;

}

#p2-swap-cards {

	position: absolute;
	top: -27px;
	left: 220px;
    height: 23px;
    width: 100px;
    border-style: solid;
    border-width: 1px;

}





